Makefile
config.status
config.log
configure
ovirt-node-atomic.spec
autom4te.cache/*
py-compile
ovirt-release*
Makefile.in
build/*.repo
build/centos-atomic-*.json
build/ovirt.json
build/config.ini
build/*e
