[submodule "sig-atomic-buildscripts"]
	path = sig-atomic-buildscripts
	url = https://github.com/baude/sig-atomic-buildscripts
[submodule "ovirt-release"]
	path = ovirt-release
	url = https://gerrit.ovirt.org/p/ovirt-release.git
